<div class="header">Top favorite songs</div>
<div class="song">
  <div>
    <audio controls>
      <source src="/assets/audio/Fashion!.mp3" type="audio/mp3">
      Your browser does not support the audio element.
    </audio>
    <div class="name">Fashion!</div>
  </div>
  <img src="/assets/img/covers/fashion.png">
</div>
<div class="song">
  <div>
    <audio controls>
      <source src="/assets/audio/The%20World%20Is%20Mine%20(Fuck%20Me%20I'm%20Famous%20Remix).mp3" type="audio/mp3">
      Your browser does not support the audio element.
    </audio>
    <div class="name">The World Is Mine (F* Me I'm Famous Remix)</div>
  </div>
  <img src="/assets/img/covers/the-world-is-mine.png">
</div>
<div class="song">
  <div>
    <audio controls>
      <source src="/assets/audio/Moi...%20Lolita.mp3" type="audio/mp3">
      Your browser does not support the audio element.
    </audio>
    <div class="name">Moi... Lolita</div>
  </div>
  <img src="/assets/img/covers/moi-lolita.png">
</div>
<div class="song">
  <div>
    <audio controls>
      <source src="/assets/audio/No%20Goodbyes.mp3" type="audio/mp3">
      Your browser does not support the audio element.
    </audio>
    <div class="name">No Goodbyes</div>
  </div>
  <img src="/assets/img/covers/no-goodbyes.png">
</div>
<div class="song">
  <div>
    <audio controls>
      <source src="/assets/audio/If%20I%20Could%20Tell%20You.mp3" type="audio/mp3">
      Your browser does not support the audio element.
    </audio>
    <div class="name">If I Could Tell You</div>
  </div>
  <img src="/assets/img/covers/if-i-could-tell-you.png">
</div>

