<p id="works-title">Projects</p>
<div class="works">
  <a class="work" href="https://github.com/mahozad/ceno">
    <img src="/assets/img/logos/ceno.png" alt="ceno logo">
    <span class="name">Ceno</span>
  </a>
  <a class="work" href="https://cafebazaar.ir/app/com.pleon.buyt/?l=en">
    <img src="/assets/img/logos/buyt.png" alt="buyt logo">
    <span class="name">Buyt</span>
  </a>
  <a class="work" href="https://cafebazaar.ir/app/com.pleon.whichI/?l=en">
    <img src="/assets/img/logos/which1.png" alt="which1 logo">
    <span class="name">Which1</span>
  </a>
  <a class="work" id="tineep" href="https://github.com/mahozad/tineep">
    <img src="/assets/img/logos/tineep.png" alt="tineep logo">
    <span class="name">Tineep</span>
  </a>
  <a class="work" id="espot" href="https://github.com/mahozad/espot">
    <img src="/assets/img/logos/espot.png" alt="espot logo">
    <span class="name">Espot</span>
  </a>
</div>
