<div id="stackoverflow-stats" class="honor">
  <div id="arc-left"></div>
  <a href="https://stackoverflow.com/users/8583692/mahozad" target="_blank">
    <img class="honor-img" src="https://stackoverflow.com/users/flair/8583692.png"/>
  </a>
</div>

<div id="github-stats" class="honor">
  <a href="https://github.com/mahozad" target="_blank">
    <img id="github-mark" src="/assets/img/github-mark.svg" alt="Github mark" height="48px">
    <div id="github-info">
      <img src="/assets/img/github-logo.svg" alt="Github logo" width="38px">
      <p id="repo-count">{{repoCount}} repos</p>
    </div>
  </a>
  <div id="arc-right"></div>
</div>
