.honor {
  display: flex;
}

.honor-img {
  width: 208px;
}

#stackoverflow-stats a {
  height: 0;
}

#github-stats a {
  width: 208px;
  background: #eee;
  border: solid 1px #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#github-mark {
  margin-inline-start: 4px;
}

#arc-left {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 56px;
  border: 1px solid rgb(204, 204, 204);
  background: #eee;
  border-inline-end: none;
  right: -2px; // TODO: Replace with inset-inline-end when major browsers start supporting it
  border-top-left-radius: 50px; // TODO: Replace with border-start-start-radius when major browsers start supporting it
  border-bottom-left-radius: 50px // TODO: Replace with border-end-start-radius when major browsers start supporting it
}

#arc-right {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 56px;
  border: 1px solid rgb(204, 204, 204);
  background: #eee;
  border-inline-start: none;
  left: -2px; // TODO: Replace with inset-inline-start when major browsers start supporting it
  border-top-right-radius: 50px; // TODO: Replace with border-start-end-radius when major browsers start supporting it
  border-bottom-right-radius: 50px // TODO: Replace with border-end-end-radius when major browsers start supporting it
}
