.honor {
  display: flex;
}

.honor-img {
  width: 208px;
}

#arc-left {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 56px;
  border: 1px solid rgb(204, 204, 204);
  background: #eee;
  border-right: none;
  right: -2px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px
}

#arc-right {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 56px;
  border: 1px solid rgb(204, 204, 204);
  background: #eee;
  border-left: none;
  left: -2px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px
}
