<div class="header">Recommended books</div>
<div class="book">
  <img src="/assets/img/covers/head-first-design-patterns.png">
  <div>
    <a class="name" href="https://www.amazon.co.uk/Head-First-Design-Patterns-Freeman/dp/0596007124">Head First Design Patterns</a>
    <div class="author">by Eric Freeman, Elisabeth Robson</div>
  </div>
</div>
<div class="book">
  <img src="/assets/img/covers/mastergin-software-testing-junit.png">
  <div>
    <a class="name" href="https://www.amazon.co.uk/Mastering-Software-Testing-JUnit-Comprehensive/dp/1787285731">Mastering Software Testing with JUnit 5</a>
    <div class="author">by Boni Garcia</div>
  </div>
</div>
<div class="book">
  <img src="/assets/img/covers/android-programming-big-nerd-ranch.png">
  <div>
    <a class="name"
       href="https://www.amazon.co.uk/Android-Programming-Ranch-Guide-Guides/dp/0135245125/ref=dp_ob_title_bk">Android Programming: The Big Nerd...</a>
    <div class="author">by Bill Phillips, Chris Stewart, Kristin Marsicano</div>
  </div>
</div>
<div class="book">
  <img src="/assets/img/covers/effective-java.png">
  <div>
    <a class="name" href="https://www.amazon.co.uk/Effective-Java-Joshua-Bloch/dp/0134685997">Effective Java</a>
    <div class="author">by Joshua Bloch</div>
  </div>
</div>
<div class="book">
  <img src="/assets/img/covers/clean-code.png">
  <div>
    <a class="name" href="https://www.amazon.co.uk/Clean-Code-Handbook-Software-Craftsmanship/dp/0132350882">Clean Code: A Handbook of Agile...</a>
    <div class="author">by Robert Martin</div>
  </div>
</div>
