.header {
  width: 160px;
  background: #eee;
  padding: 20px;
  margin-block-end: 10px;
  text-align: center;
  border: 1px solid rgb(204, 204, 204);
  border-top-left-radius: 100px; // TODO: Replace with border-start-start-radius when major browsers start supporting it
  border-bottom-left-radius: 100px; // TODO: Replace with border-end-start-radius when major browsers start supporting it
}

.book {
  display: flex;
  height: 60px;
  background: #eee;
  padding-block-start: 8px;
  padding-block-end: 8px;
  padding-inline-start: 30px;
  margin-block-start: 20px;
  align-items: center;
  flex-flow: row;
  justify-content: space-between;
  transition: 300ms;
  transform: translateX(300px);
  border-top-left-radius: 100px; // TODO: Replace with border-start-start-radius when major browsers start supporting it
  border-bottom-left-radius: 100px; // TODO: Replace with border-end-start-radius when major browsers start supporting it

  .name {
    display: block;
    line-height: 40px;
    width: 300px;
    height: 40px;
  }

  img {
    width: 50px;
    height: 50px;
    margin-inline-end: 20px;
    border-radius: 4px;
    object-fit: contain;
  }

  .author {
    font-size: 12px;
    margin-block-start: 4px;
    text-align: start;
  }

  &:hover {
    transform: translateX(0px);
  }
}
